[Unit]
Description=Blueblack automatic light/dark mode switching

[Service]
PrivateTmp=true
PIDFile=/run/blueblack.pid
ExecStart=python -m blueblack.main

[Install]
WantedBy=default.target
