[Unit]
Description=Blueblack automatic light/dark mode switching

[Service]
Type=simple
ExecStart=python -m blueblack.main
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
